h2{
	color:#000033; background-color:#E0E0E0; font-family:roboto;
}

h1{
	color:green; background-color:#E0E0E0; font-family:raleway;
}

p{
	font-family:lato; font-size:16px;
}

.head1{
	color:red; background-color:#E0E0E0; font-family:raleway;
}

#main1{
	 font-family:Bebas Neue; font-size:30px;
}